@model IEnumerable<Eco.Models.Product>

<h2>Product Catalog</h2>





<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="@Url.Content(product.ImageURL)" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-controller="Admin" asp-action="Details" asp-route-Id="@product.Id" class="btn btn-sm btn-outline-secondary">View Details</a>
                            <a asp-action="Delete" asp-controller="Admin" asp-route-Id="@product.Id" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</a>

                            <a asp-controller="Admin" asp-action="EditForm" asp-route-Id="@product.Id" Add" class="btn btn-sm btn-outline-secondary">Edit</a>
                        </div>
                        <small class="text-muted">@product.Price.ToString("C")</small>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">

            <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Description</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a asp-controller="Admin" asp-action="AddForm" class="btn btn-sm btn-outline-secondary">Add</a>

                    </div>
                    <small class="text-muted">Price</small>
                </div>
            </div>
        </div>
    </div>


</div>